###### This requirements file is used for local installation, Where access to GitHub is restricted ######
###### Common Requirements ######
lxml >= 4.3.0
pyVmomi >= 6.7
six (>=1.12)
###### Different dependency requirements for different python version ######
pyOpenSSL (==19.1.0); python_version <= "3.6"
cryptography (<3.0,>=2.8); python_version <= "3.6"
setuptools (==36.2.0); python_version <= "3.6"
requests (==2.21.0); python_version <= "3.6"
idna (>=2.5,<2.9); python_version <= "3.6"

requests (==2.27.1); python_version > "3.6"
pyOpenSSL (==22.0.0); python_version > "3.6"
cryptography (==36.0.0); python_version > "3.6"
setuptools (==62.0.0); python_version > "3.6"
