###### Common requirements ######
lxml >= 4.3.0
pyVmomi >=6.7
six (>=1.12)

requests (>=2.27.1)
pyOpenSSL (>=22.0.0)
cryptography (>=37.0.2)
setuptools (>=62.3.2)
###### SDK requirements ######
vcenter-bindings == 4.2.0
vmwarecloud-aws
nsx-python-sdk
nsx-policy-python-sdk
nsx-vmc-policy-python-sdk
nsx-vmc-aws-integration-python-sdk
vmwarecloud-draas
