###### This requirements file is used for local installation where access to GitHub is restricted ######
###### Common requirements ######
lxml >= 4.3.0
pyVmomi >= 6.7
six (>=1.12)
requests (==2.27.1)
pyOpenSSL (==22.0.0)
cryptography (==36.0.0)
setuptools (==62.0.0)
