###### Common requirements ######
lxml >= 4.3.0
six (>=1.12)

requests (>=2.27.1)
pyOpenSSL (>=22.0.0)
cryptography (>=37.0.2)
setuptools (>=62.3.2)
###### SDK requirements ######
pyVmomi >=8.0.3.0.1
vmware-vcenter == 8.0.3.0
vmwarecloud-aws
nsx-python-sdk
nsx-policy-python-sdk
nsx-vmc-policy-python-sdk
nsx-vmc-aws-integration-python-sdk
vmwarecloud-draas
