lxml >= 4.3.0
pyVmomi >= 6.7
suds ; python_version < '3'
suds-jurko ; python_version >= '3.0'
vapi-client-bindings == 1.5.0
vmc-client-bindings
nsx-python-sdk
nsx-policy-python-sdk
vmc-app-python-sdk
