[CREATESPEC]
specName=testWinSpec1
specDesc=This is a windows customizationSpec created by vAPI

[HOSTNAME]
# valid types are: FIXED, PREFIX, VIRTUAL_MACHINE, USER_INPUT_REQUIRED
hostnameGeneratorType=VIRTUAL_MACHINE
# If hostnameGeneratorType is "PREFIX", prefix must be set to some string
#prefix=''
# If hostnameGeneratorType is "FIXED", fixedName must be set to the hostname string
#fixedName=''

[WINCONFIG]
# valid options are: REBOOT, NO_REBOOT, SHUTDOWN
rebootOption=REBOOT
productKey=
fullName=AComputerNameFull
organization=testCome

# domain or worgroup, valid type are: WORKGROUP, DOMAIN
domainType=WORKGROUP
# if type is "WORKGROUP", workgroup field must be set to some workgroup name str #
workgroup=WORKGROUP
# if type is "DOMAIN", domain name, domainUser, domainPassword should be set #
#domain=
#domainUser=
#domainPass=

# valid timezone list: https://support.microsoft.com/en-us/help/973627/microsoft-time-zone-index-values
# "2" means "(GMT-10:00) Hawaii
# "4" means "(GMT-08:00) Pacific Time (US and Canada); Tijuana"
# "D2" means "(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi"
timezone=2

# auto logon after customization, if autoLogon is True, then admin password must be set
autoLogonCount=0
autoLogon=False

# The local Admin password
### WARNING: USE CLEAR TEXT HERE AT YOUR OWN RISK!!! ###
### Suggested to use "--win_password" command line option instead
### It will overrid this value here
# password=ASecurePass!

# optional, TBD
# gui_run_once_commands=
# optional, TBD
# sysprepXml=

[NETWORK]
### MacAddress ###
# macAddress is optional
# macAddress=fc:00:0a:33:22:11

### IPV4 ###
# valid types are: DHCP, STATIC, USER_INPUT_REQUIRED.
# If use "STATIC", then must also input "prefix, gateways=None, ip_address="
## sample DHCP ipv4Type ##
#ipv4Type=DHCP
## sample STATIC ipv4Type ##
ipv4Type=STATIC
ipv4_prefix=31
ipv4_gateways=192.168.11.13
ipv4_ip=192.168.11.1

### IPV6 ###
# valid types are: DHCP, STATIC, USER_INPUT_REQUIRED.
# If use "STATIC", then must also input "prefix, gateways=None, ip_address="
## sample DHCP ipv6Type ##
#ipv6Type=DHCP
## sample STATIC ipv6Type ##
ipv6Type=STATIC
ipv6_prefix=128
ipv6_ip=fc00:10:31:11::34


[WINNICS]
# Valid values: ENABLE, DISABLE, USE_DHCP
netBiosMode=ENABLE
dnsServers=10.11.0.1,8.8.8.8
dnsDomain=testabc.com
winsServers=192.168.1.113,10.11.0.1


[DNS]
dnsServers=10.1.2.3,8.8.8.8
dnsSuffixs=test.abc.com,test2.com
